.cabmoda {
    background-color: #BB86FC;
}

.cabcasa {
    background-color: #00C4B4;
}

.fundotab {
    background-color: #424250;
}

.tab {
    color: white;
    border-style: ;
}

