
p {
    width: 30%;
}

.p1 {
    margin-top: 40px;
    padding: 20px;
    background-color:  #F5F5F5;
}

.p2 {
    margin-top: 40px;
    padding: 20px;
    background-color:  #F0CCE2;
}